/* src/components/About/TechCarousel/TechCarousel.css */
.tech-carousel-card {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-secondary); /* Sets the icon color */
}   